:root {
  --font-playfair: 'Playfair Display', serif;
  --font-lexend: 'Lexend', sans-serif;
  --font-Roboto: 'Roboto', sans-serif;
  --font-jost: 'Jost', sans-serif;
  --font-rubik: 'Rubik', sans-serif;

  --fw-100: 100;
  --fw-200: 200;
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;

  --fs-12: 0.75rem;
  --fs-13: 0.8125rem;
  --fs-14: 0.875rem;
  --fs-15: 0.9375rem;
  --fs-16: 1rem;
  --fs-17: 1.0625rem;
  --fs-18: 1.125rem;
  --fs-19:	1.1875rem;
  --fs-20: 1.25rem;
  --fs-22:	1.375rem;
  --fs-24:1.5rem;
  --fs-30:1.875rem;
  --fs-35:	2.1875rem;
  --fs-45:2.8125rem;
  --fs-60:3.75rem;
  --fs-70:4.375rem;
  --fs-90:5.625rem;
  --fs-95:5.938rem;

  --clr-headding-tit: #1d1d1d;
  --clr-headding-p:#444444;
  --clr-bg:#FFECD6;
  --clr-bg-1:#FFF9F3;
  --clr-bg-3:rgba(255, 255, 255, 0.2);
  --clr-bg-4:#1A1A1A;
  --clr-bg-5:#fff8f3;
  --clr-bg-6:rgb(60, 59, 57, 0.3);
  --clr-bg-7:#F0F5FB;
  --clr-def:#1D1D1D;
  --clr-overlay-bg-7:rgba(0, 0, 0, 0.7);
  --clr-sale-bg:#E51000; 
  --clr-black: #000;
  --clr-white: #fff;
  --clr-text: #1a1a1a;
  --clr-def-2:#131313;
  --clr-acc:#0A0B2E;

  --clr-text-3:#26282b;
  --clr-btn: #F88808;   
  --clr-btn-1:#707070;
  --clr-frm:#757575;
  --clr-text-2:#5A5A5A;
  --clr-icon:#ffa100;
  --clr-icon-bg:rgba(248, 136, 8, 0.15);
  --rad-1:50%;
  --rad-2:4px;
  --rad-3:10px;
  --rad-4:6px;
  --rad-5:29px;
  --rad-6:13px;
  --clr-border:rgba(255, 255, 255, 0.5);
  --clr-border-2:rgba(255, 255, 255, 0.1);
  --clr-border-3:#cfcfcf;
  --clr-border-4:#86b7fe;
  --clr-shadow:0px 0px 20px rgba(0, 38, 72, 0.1);
  --clr-shadow-1:0px 3px 16px rgb(0, 0, 0, 0.08);
  --clr-shadow-ctg:0 18px 43px rgba(90, 90, 90, 0.14);
  --clr-shadow-2:0px 4px 10px rgba(10, 102, 194, 0.2);
  --clr-shadow-4:rgba(13, 110, 253, .25);
  --clr-shadow-h-2:rgb(220 219 219 / 20%) 0px 0px 20px;

  --clr-filter:rgba(248, 136, 8, 0.32);
  --clr-shadow-3: drop-shadow(0px 3px 9px rgba(0,0,0,0.16));

  --icon-bg-1: #fff; 
  --icon-h-bg-1: #F88808; 
  --clock-bg:#e51000;
  
}